.bg-building {
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.hello {
  letter-spacing: normal;
  color: #93B851;
  font-size: 180px;

  .small {
    font-size: 70px;
    margin-left: -12px;
  }
}
.hello-ext-info {
  margin-left: 2%;
  margin-right: 24%;
  margin-top: -4%;
  font-size: 22px;

  p {
    margin: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .bg-building {
    background-image: none;
  }
  .hello {
    font-size: 110px;

    .small {
      font-size: 40px;
      margin-left: -6px;
    }
  }
  .hello-ext-info {
    font-size: 13px;
  }
  .hello, .hello-ext-info {
    text-align: center;
  }
  .hello-ext-info {
    margin: 0%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 840px) {
  .bg-building {
    background-image: none;
  }
  .hello, .hello-ext-info {
    text-align: center;
  }
  .hello-ext-info {
    margin: 0%;
  }
}
