.bg-building {
  height: 90vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991.98px) {
  .bg-building {
    background-image: none !important;
  }
}
